<div role="navigation" class="nav navbar navbar-default">
  <div class="navbar-header"><a href="#/" class="navbar-brand">Southside University Challenge</a></div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li><a href="#/teams">Teams</a></li>
      <li><a href="#/teams/new">New Team</a></li>
      <li><a href="#/games">Games</a></li>
      <li><a href="#/games/new">New Game</a></li>
    </ul>
    <div class="pull-right">
    </div>
  </div>
</div>
<div class="container">
  <div ng-repeat="game in games" class="row">
    <div ng-init="team1 = loadTeam(game.team1)" ng-show="team1.name" class="col-sm-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{team1.name}}<a href="#/teams/edit/{{team._id.$oid}}" class="pull-right"><span class="glyphicon glyphicon-pencil"></span></a></h3>
        </div>
        <table class="table table-striped">
          <tr>
            <td>1</td>
            <td>{{team1.player1}}</td>
          </tr>
          <tr>
            <td>2</td>
            <td>{{team1.player2}}</td>
          </tr>
          <tr>
            <td>3</td>
            <td>{{team1.player3}}</td>
          </tr>
          <tr>
            <td>4</td>
            <td>{{team1.player4}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-sm-2">
      <h4 class="text-center">{{game.timeout|date:'mm:ss'}} minute game</h4>
      <h1 class="text-center">{{game.score1}}:{{game.score2}}</h1>
      <button ng-click="destroy(game)" title="Delete this game" class="btn btn-danger center-block"><span class="glyphicon glyphicon-trash"></span></button>
    </div>
    <div ng-init="team2 = loadTeam(game.team2)" ng-show="team2.name" class="col-sm-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{team2.name}}<a href="#/teams/edit/{{team._id.$oid}}" class="pull-right"><span class="glyphicon glyphicon-pencil"></span></a></h3>
        </div>
        <table class="table table-striped">
          <tr>
            <td>1</td>
            <td>{{team2.player1}}</td>
          </tr>
          <tr>
            <td>2</td>
            <td>{{team2.player2}}</td>
          </tr>
          <tr>
            <td>3</td>
            <td>{{team2.player3}}</td>
          </tr>
          <tr>
            <td>4</td>
            <td>{{team2.player4}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>