<div role="navigation" class="nav navbar navbar-default">
  <div class="navbar-header"><a href="#/" class="navbar-brand">Southside University Challenge</a></div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li><a href="#/teams">Teams</a></li>
      <li><a href="#/teams/new">New Team</a></li>
      <li><a href="#/games">Games</a></li>
      <li><a href="#/games/new">New Game</a></li>
    </ul>
    <div class="pull-right">
      <div ng-show="countdown &amp;&amp; !listening" class="btn-group">
        <button ng-click="listen()" class="btn btn-primary"><span class="glyphicon glyphicon-screenshot"></span></button>
      </div>
      <div ng-show="countdown &amp;&amp; listening" class="btn-group">
        <button ng-click="unlisten()" class="btn btn-primary"><span class="glyphicon glyphicon-ban-circle"></span></button>
      </div>
      <div ng-show="countdown &amp;&amp; buzzedFirst" class="btn-group">
        <button ng-click="clearBuzzed()" class="btn btn-primary"><span class="glyphicon glyphicon-repeat"></span></button>
      </div>
      <div ng-show="!countdown" class="btn-group">
        <button ng-click="startTimer()" class="btn btn-success"><span class="glyphicon glyphicon-play"></span></button>
        <button ng-click="resetTimer()" class="btn btn-danger"><span class="glyphicon glyphicon-stop"></span></button>
      </div>
      <div ng-show="countdown" class="btn-group">
        <button ng-click="pauseTimer()" class="btn btn-success"><span class="glyphicon glyphicon-pause"></span></button>
        <button ng-click="resetTimer()" class="btn btn-danger"><span class="glyphicon glyphicon-stop"></span></button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <team countdown="countdown" editable="false" score="game.score1" team="team1"></team>
    </div>
    <div class="col-sm-4">
      <div class="hero-unit">
        <h1 class="text-center">{{timeout|date:'mm:ss'}}</h1>
        <h2 ng-show="buzzedFirst" class="text-center">{{buzzedFirst}} buzzed first!</h2>
      </div>
    </div>
    <div class="col-sm-4">
      <team countdown="countdown" editable="false" score="game.score2" team="team2"></team>
    </div>
  </div>
</div>