<div role="navigation" class="nav navbar navbar-default">
  <div class="navbar-header"><a href="#/" class="navbar-brand">Southside University Challenge</a></div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li><a href="#/teams">Teams</a></li>
      <li><a href="#/teams/new">New Team</a></li>
      <li><a href="#/games">Games</a></li>
      <li><a href="#/games/new">New Game</a></li>
    </ul>
    <div class="pull-right">
    </div>
  </div>
</div>
<div class="container">
  <div ng-repeat="team in teams" class="col-sm-4 col-lg-3">
    <team editable="true" team="team"></team>
  </div>
  <h1 ng-hide="teams.length">No teams yet!</h1>
</div>