.navbar
  .navbar-inner
    a.brand(href='#/') Southside University Challenge
    ul.nav
      li
        a(href='#/teams') Teams
      li
        a(href='#/teams/new') New Team
      li
        a(href='#/games') Games
      li
        a(href='#/games/new') New Game
    .pull-right
      block nav
.container
  block content
