extends layout

block nav
  .btn-group(ng-show='countdown && !listening')
    button.btn.btn-primary(ng-click='listen()')
      i.icon-screenshot.icon-white
  .btn-group(ng-show='countdown && listening')
    button.btn.btn-primary(ng-click='unlisten()')
      i.icon-ban-circle.icon-white
  .btn-group(ng-show='countdown && buzzedFirst')
    button.btn.btn-primary(ng-click='clearBuzzed()')
      i.icon-repeat.icon-white
  .btn-group(ng-show='!countdown')
    button.btn.btn-success(ng-click='startTimer()')
      i.icon-play.icon-white
    button.btn.btn-danger(ng-click='resetTimer()')
      i.icon-stop.icon-white
  .btn-group(ng-show='countdown')
    button.btn.btn-success(ng-click='pauseTimer()')
      i.icon-pause.icon-white
    button.btn.btn-danger(ng-click='resetTimer()')
      i.icon-stop.icon-white
block content
  .row
    .span4
      .well
        h1.text-center {{game.score1}}
        .text-center(ng-show='countdown')
          a.badge.badge-success(ng-click='game.score1 = game.score1 + 10') +10
          a.badge.badge-success(ng-click='game.score1 = game.score1 + 5') +5
          a.badge.badge-important(ng-click='game.score1 = game.score1 - 5') -5
        h3 {{team1.name}}
        ul
          li {{team1.player1}}
          li {{team1.player2}}
          li {{team1.player3}}
          li {{team1.player4}}
    .span4
      .hero-unit
        h1.text-center {{timeout|minutes}}
        h2.text-center(ng-show='buzzedFirst') {{buzzedFirst}} buzzed first!
    .span4
      .well
        h1.text-center {{game.score2}}
        .text-center(ng-show='countdown')
          a.badge.badge-success(ng-click='game.score2 = game.score2 + 10') +10
          a.badge.badge-success(ng-click='game.score2 = game.score2 + 5') +5
          a.badge.badge-important(ng-click='game.score2 = game.score2 - 5') -5
        h3 {{team2.name}}
        ul
          li {{team2.player1}}
          li {{team2.player2}}
          li {{team2.player3}}
          li {{team2.player4}}
