extends layout

block content
  .well
    form.form-horizontal
      .control-group
        label.control-label Team 1
        .controls
          select(ng-model='game.team1', ng-options='team._id as team.name for team in teams')
      .control-group
        label.control-label Team 2
        .controls
          select(ng-model='game.team2', ng-options='team._id as team.name for team in teams')
      .control-group
        label.control-label Time
        .controls
          input(ng-model='game.timeout')
      .control-group
        .controls
          button.btn.btn-success(ng-click='save(game)')
            i.icon-ok.icon-white
            | Start Game
