extends layout

block content
  .row(ng-repeat='game in games')
    .col-sm-5(ng-init='team1 = loadTeam(game.team1)', ng-show='team1.name')
      .panel.panel-default
        .panel-heading
          h3.panel-title {{team1.name}}
            a.pull-right(href='#/teams/edit/{{team._id.$oid}}')
              span.glyphicon.glyphicon-pencil
        table.table.table-striped
          tr
            td 1
            td {{team1.player1}}
          tr
            td 2
            td {{team1.player2}}
          tr
            td 3
            td {{team1.player3}}
          tr
            td 4
            td {{team1.player4}}
    .col-sm-2
      h4.text-center {{game.timeout|date:'mm:ss'}} minute game
      h1.text-center {{game.score1}}:{{game.score2}}
      button.btn.btn-danger.center-block(ng-click='destroy(game)', title='Delete this game')
        span.glyphicon.glyphicon-trash
    .col-sm-5(ng-init='team2 = loadTeam(game.team2)', ng-show='team2.name')
      .panel.panel-default
        .panel-heading
          h3.panel-title {{team2.name}}
            a.pull-right(href='#/teams/edit/{{team._id.$oid}}')
              span.glyphicon.glyphicon-pencil
        table.table.table-striped
          tr
            td 1
            td {{team2.player1}}
          tr
            td 2
            td {{team2.player2}}
          tr
            td 3
            td {{team2.player3}}
          tr
            td 4
            td {{team2.player4}}
