.nav.navbar.navbar-default(role='navigation')
  .navbar-header
    a.navbar-brand(href='#/') Southside University Challenge
  .collapse.navbar-collapse
    ul.nav.navbar-nav
      li
        a(href='#/teams') Teams
      li
        a(href='#/teams/new') New Team
      li
        a(href='#/games') Games
      li
        a(href='#/games/new') New Game
    .pull-right
      block nav
.container
  block content
