html
  body
    .hero-unit
      h1 Southside University Challenge
      div(ng-repeat='team in [team1, team2]')
        h2 {{team.name}}
        ul
          li(ng-repeat='player in team.players') {{player}}
