extends layout

block nav
  .btn-group(ng-show='countdown && !listening')
    button.btn.btn-primary(ng-click='listen()')
      span.glyphicon.glyphicon-screenshot
  .btn-group(ng-show='countdown && listening')
    button.btn.btn-primary(ng-click='unlisten()')
      span.glyphicon.glyphicon-ban-circle
  .btn-group(ng-show='countdown && buzzedFirst')
    button.btn.btn-primary(ng-click='clearBuzzed()')
      span.glyphicon.glyphicon-repeat
  .btn-group(ng-show='!countdown')
    button.btn.btn-success(ng-click='startTimer()')
      span.glyphicon.glyphicon-play
    button.btn.btn-danger(ng-click='resetTimer()')
      span.glyphicon.glyphicon-stop
  .btn-group(ng-show='countdown')
    button.btn.btn-success(ng-click='pauseTimer()')
      span.glyphicon.glyphicon-pause
    button.btn.btn-danger(ng-click='resetTimer()')
      span.glyphicon.glyphicon-stop
block content
  .row
    .col-sm-4
      team(countdown='countdown', editable='false', score='game.score1', team='team1')
    .col-sm-4
      .hero-unit
        h1.text-center {{timeout|date:'mm:ss'}}
        h2.text-center(ng-show='buzzedFirst') {{buzzedFirst}} buzzed first!
    .col-sm-4
      team(countdown='countdown', editable='false', score='game.score2', team='team2')
