.panel.panel-default
  .panel-heading(ng-show='score != null')
    h1.text-center {{score}}
    .text-center(ng-show='countdown')
      a.badge.badge-success(ng-click='score = score + 10') +10
      a.badge.badge-success(ng-click='score = score + 5') +5
      a.badge.badge-important(ng-click='score = score - 5') -5
  .panel-heading
    h3.panel-title {{team.name}}
      a.pull-right(href='#/teams/edit/{{team._id.$oid}}', ng-show='editable')
        span.glyphicon.glyphicon-pencil
  table.table.table-striped
    tr
      td 1
      td {{team.player1}}
    tr
      td 2
      td {{team.player2}}
    tr
      td 3
      td {{team.player3}}
    tr
      td 4
      td {{team.player4}}
